@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --md-primary-fg-color: #00005f;
    --md-primary-fg-color--light: #00005f;
    --md-primary-fg-color--dark: #00005f;

}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color: #00005f;
    --md-primary-fg-color--light: #00005f;
    --md-primary-fg-color--dark: #00005f;

    --md-typeset-a-color: #0AA0BE;
    --md-typeset-a-color--light: #0AA0BE;
    --md-typeset-a-color--dark: #0AA0BE;

}

.md-footer-meta {
    background-color: #00005f;

}

body {
    font-family: "Noto sans", sans-serif;
    font-weight: 400;
    font-size: 0.8em;
    line-height: 1.6;
}

h1,h2 {
    font-family: "Manrope", sans-serif;
    font-weight: 300;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-family: "Noto sans", sans-serif;
    font-weight: bold;
    font-size: 1em;
}

h4 {
    font-family: "Noto sans", sans-serif;
    font-weight: lighter;
    font-size: 1em;
}



.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 2.5rem;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
    height: 40px;
}